
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$E-Grocer-primary: mat.define-palette(mat.$indigo-palette);
$E-Grocer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$E-Grocer-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$E-Grocer-theme: mat.define-light-theme((
  color: (
    primary: $E-Grocer-primary,
    accent: $E-Grocer-accent,
    warn: $E-Grocer-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($E-Grocer-theme);

/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~primeicons/primeicons.css';
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



//font-family: 'Poppins', sans-serif;
//font-family: 'Oswald', sans-serif;
//font-family: 'Playfair Display', serif;
//font-family: 'Vidaloka', serif;
//font-family: 'Tiro Gurmukhi', serif;
//font-family: 'Bebas Neue', cursive;
//font-family: 'Lobster', cursive;


* { line-height: 1.5; box-sizing: border-box; }

.flex { display: flex; align-items: center; }

.grid { display: grid; justify-content: space-evenly; row-gap: 2rem; }

img { display: block; }

button { letter-spacing: 0.05rem; border: 0; }

html { position: relative; }
html, body { min-height: 100vh; display: flex; flex-direction: column; overflow-x: hidden; }
body { position: relative; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main_bg { 
  position: absolute; 
  inset: 0 0 auto auto; 
  height: 125vh; 
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/21393/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

a { text-decoration: none; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeSlideUp {
  0% { transform: translateY(25%); opacity: 0;}
  100% { transform: translateY(0%); opacity: 1;}
}

@media (max-width: 50rem) { .main_bg { height: 47vh; width: 100vw;} }

