
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$E-Grocer-primary: mat.define-palette(mat.$indigo-palette);
$E-Grocer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$E-Grocer-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$E-Grocer-theme: mat.define-light-theme((
  color: (
    primary: $E-Grocer-primary,
    accent: $E-Grocer-accent,
    warn: $E-Grocer-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($E-Grocer-theme);

/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~primeicons/primeicons.css';
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

//font-family: 'Poppins', sans-serif;
//font-family: 'Playfair Display', serif;
//font-family: 'Vidaloka', serif;
//font-family: 'Bebas Neue', cursive;
//font-family: 'Lobster', cursive;

* { line-height: 1.5; box-sizing: border-box; }

.flex { display: flex; align-items: center; }

.grid { display: grid; justify-content: space-evenly; row-gap: 2rem; }

img { display: block; }

button { letter-spacing: 0.05rem; border: 0; box-shadow: 0 0 2px; }

html { position: relative; }
html, body { min-height: 100vh; display: flex; flex-direction: column;}
body { position: relative; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

body.main_bg { 
  background: brown;
  background-image: url("https://pnptc-media.s3.amazonaws.com/images/header_photo.2e16d0ba.fill-1200x800.jpg") !important;
  background-repeat: no-repeat;
  height: 100%;
}

body.main_bg.animate {
  animation: slideBg 1s ease-in forwards;
  background-size: contain;
}

a { text-decoration: none; }

@media (max-width: 50rem) {
  body.main_bg { background-size: cover; }
}
