.review-section {  
    padding: 4rem 2rem 7rem 2rem;
    width: 100vw;
    background: white;
    box-shadow: 0 1px 3px;
}

.review-form { 
    flex-direction: column;
    align-items: flex-start !important;
    row-gap: 1rem;
    width: 100%; 
}

.review-form > h1 {
    font-size: clamp(1.375rem, 2.5vw, 1.75rem);
    font-weight: bold;
    font-style: italic;
    color: darkorange;
}

.review-rating > span { font-weight: 500; }

.review-rating > ngb-rating {
    margin: 0 0 auto 0.5rem;
    font-size: clamp(1.25rem, 5vh, 1.5rem);
    color: gold;
}

.review-form > textarea {
    padding: 1% 2%;
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    min-height: 10rem;
    width: 100%;
    color: rgb(54, 54, 54);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0.25rem;
}

.review-form > textarea:focus { outline-color: grey; }

.review-form > button {
    align-self: flex-end;
    padding: 0.25rem 0.5rem;
    font-size: clamp(0.875rem, 2.5vw, 0.9rem);
    color: white;
    background: darkorange;
    box-shadow: 1px 1px 1px grey;
    border-radius: 0.125rem;
}

.review-form > button:hover { box-shadow: 2px 2px 2px grey; }

.line { margin: 5rem 0; width: 100%; border-color: rgb(241, 241, 241); opacity: 0.5; }

.review-list { width: 100%; }

.review-text {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-between;
    margin: 0 0 2rem auto;
    padding: 0.5rem 1.25rem;
    min-height: 6rem;  
    width: 80%;
    font-size: clamp(0.75rem, 2vw, 0.9rem);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.025rem;
    color: darkolivegreen;
    border-radius: 0.75rem 0.75rem 0.125rem 0.75rem;
    border-bottom: 2px solid darkolivegreen;
    box-shadow: -1px 1px 1px grey;
}

.review-name { align-self: flex-end; }

.review-default {
    margin: auto;
    font-weight: bold !important;
    letter-spacing: 0.05rem;
    color: rgb(184, 184, 184) !important;
    width: 80%;
}

@media (max-width: 50rem) {
    .review-section { padding: 2rem 2rem 7rem 2rem; }
    .review-text { padding: 0.25rem, 0.5rem; width: 100%; }
}
