.app-note {
    margin: 10vh 0 40vh 0;
    padding: 2rem;
    min-height: 35rem;
    width: 75vw;
    background: rgb(248, 248, 248);
    box-shadow: 0 0 5px;
    border-radius: 0.125rem;
}

.app-note > div { margin-bottom: 2.25rem; }

.app-note > div > h1 {
    margin-bottom: 1.75rem;
    font-weight: bold;
    width: fit-content;
    border-bottom: 2px solid black;
}

.app-note > div > li { font-size: clamp(1rem, 2.5vw, 1.5rem); }