<div class="app-note">
    <div>
        <h1>Completed</h1>
        <li class="flex">- Integrated routing navigation and services <mat-icon>check_circle</mat-icon></li>
        <li class="flex">- Connected Angular app with MongoDB database via Express <mat-icon>check_circle</mat-icon></li>
        <li class="flex">- Defined item/cart model and route queries to use database <mat-icon>check_circle</mat-icon></li>
        <li class="flex">- Store user unique to cart data in database <mat-icon>check_circle</mat-icon></li>
    </div>
    <div>
        <h1>TODO</h1>
        <li>Post items to store</li>
    </div>
</div>
