.user-portal { 
    grid-template-columns: 25% 70%; 
    padding: 10vh 2.5vw 25vh 2.5vw; 
    font-family: 'Raleway', sans-serif; 
    min-height: 100vh; 
    width: 100vw; 
}

.portal-label {
    grid-column: 1 / 3;
    margin: 5vh 0;
    padding-left: 2.5vw;
    font-size: clamp(1.625rem, 2.5vw, 2rem); 
    color: rgb(75, 75, 75);
    height: fit-content;
    border-left: 3px solid;
}

.portal-label > .highlight { color: darkslateblue; }
.portal-label > span { animation: fadeIn 1s ease-in forwards; opacity: 0; }
.portal-label > span:nth-of-type(2) { animation-delay: 1s; }

.profile {
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 60vh;
    background: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0.5rem;
    overflow: hidden;
}

.profile > img {
    padding: 2.5vh 0;
    height: 45%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border: 0 !important;
    background-color: rgb(151, 138, 236);
}

.profile-name { text-align: center; justify-content: center; margin: 0; padding: 0; width: 100%; height: 15%; color: darkslateblue; background: rgb(151, 138, 236); }

.profile > ul {
    padding: 2.5vh 0 0 0;
    list-style: none;
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
}

.profile > ul > a {
    font-size: clamp(0.75rem, 1vw, 1rem);
    color: rgb(44, 44, 44);
    cursor: pointer;
}

li {
    margin: 0 auto 0.5vh auto;
    padding: 0.125rem 0.5rem;
    width: fit-content;
    column-gap: 0.5vw;
    transition: all 0.1s ease-in;
}

li.active, li:hover {
    color: white;
    background: darkslateblue;
    box-shadow: 0 0 3px gray;
    border-radius: 1rem;
}

.profile > ul > a:hover {
    color: darkslateblue;
    border-left-color: darkslateblue;
}

.user-collection { 
    min-height: 25vh;
    background: rgb(242, 240, 255);
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0.5rem;
    overflow: hidden;
}

.collection-label {
    padding: 1vh 2vw;
    margin-bottom: 5vh;
    text-align: center;
    font-size: clamp(1.25rem, 2vw, 2rem);
    font-weight: 700;
    width: 100%;
    color: rgb(218, 218, 218);
    background: darkslateblue;
    border: 0;
    box-shadow: 0 3px 1px rgb(223, 223, 223);
}

.empty-collection { 
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 500;
    color: grey;
}

.user-products { grid-template-columns: 30% 30% 30%; }
.empty-list { text-align: center; color: gray; }

.product { margin-bottom: 5vh; padding: 0.75rem 0.5rem; background: white; border: 1px solid rgb(194, 194, 194); border-radius: 0.25rem; }
.product > img { max-height: 40vh; width: 100%; background-size: cover; }
.product > h1 { font-size: clamp(0.75rem, 1vw, 1rem); font-family: 'Raleway', sans-serif; }
.product > h1 > span { color: gray; }
.product-name { color: darkslateblue; }
.product-price { color: green; }
.product-btns { column-gap: 2.5%; }
.product-btns > button { 
    padding: 1vh 1.5vw 0.75vh 1.5vw; 
    font-size: clamp(0.75rem, 0.75vw, 1rem);
    letter-spacing: 0;
    box-shadow: 0 0 1px;
    background: rgb(238, 238, 238); 
}
.edit-btn {
    color: darkslateblue;
    border: 1px solid rgb(157, 147, 226);
}
.remove-btn { 
    color: red;
    border: 1px solid rgb(224, 151, 151);
}

@media (max-width: 50rem) { .user-products { grid-template-columns: 45% 45%; } }

@media (max-width: 35rem) {
    .user-portal { grid-template-columns: 100%; }
    .portal-label { grid-column: 1 / 2; }
    .profile { height: 55vh; }
    .user-collection { border-radius: 0; }
    .user-products { grid-template-columns: 100%; }
    .product > img { max-height: 60vh; }
}
