<div class="search">
    <form class="search-form flex" >
        <div class="search-icon flex"><mat-icon>search</mat-icon></div>
        <input class="search-bar"
            type="text"
            placeholder="Type your browse item here..."
            value="{{searchInp}}"
            (keyup)="handleChange($event)"
        />
        <button class="search-btn" (click)="handleSearch($event, searchInp)">browse</button>
        <div class="dropdown" *ngIf="searchInp.length">
            <div class="droplist" *ngFor="let item of search_list">
                <div class="drop-li" (click)="handleSearch($event, item.name)">{{item.name}}</div>
            </div>
        </div>
    </form>
</div>
