<div class="search">
    <form class="search-wrapper flex" >
        <div class="search-icon flex"><mat-icon>search</mat-icon></div>
        <input class="search-bar"
            type="text"
            placeholder="Type your browse item here..."
            value="{{searchInp}}"
            (keyup)="handleChange($event)"
        />
        <button type="submit" (click)="handleSearch($event, searchInp, 'case_1')" class="search-btn">browse</button>
        <div class="dropdown" *ngIf="searchInp.length">
            <div class="droplist" *ngFor="let key of search_list">
                <div class="drop-li" (click)="handleSearch($event, key.name, 'case_2')">{{key.name}}</div>
            </div>
        </div>
    </form>
</div>
