ag-grid-angular {
    --ag-header-foreground-color: yellow;
    --ag-header-background-color: rgb(31, 161, 31);
    margin: 0 auto; 
    height: 30rem; 
    width: 100%; 
    box-shadow: 0 1px 3px gray;
}
