.order-title { 
    grid-column: 1 / 5; 
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
    letter-spacing: 2px;
    color: olivedrab;
    width: 85vw; 
}
.order-title > hr { height: 2px; }

.order-summary {
    padding: 0.75rem 0;
    margin: 6rem auto 4rem auto;
    grid-template-columns: 25% 50%;
    column-gap: 2rem;
    min-height: 8rem;
    width: 75vw;
    background: rgb(235, 235, 235);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0.075rem;
    box-shadow: 2px 2px 5px;
    animation: scrollLeft 0.3s ease-in forwards;
}

.order-summary > h1 {
    font-size: clamp(1.75rem, 2.5vw, 2.5rem);
    font-weight: 500;
    font-style: oblique;
    color: olivedrab;
}

.order-cost > div {
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    color: rgb(88, 88, 88);
}

.order-cost > div > span { margin-left: auto; }

hr { margin: 0.5rem 0; grid-column: 1 / 3; width: 100%; }

.grand-total { font-weight: 500; color: olivedrab !important;}

@keyframes scrollLeft {
    0% { transform: translateX(20%); opacity: 0; }
    100% { transform: translateX(0%); opacity: 1; }
}

@media (max-width: 50rem) { 
    .order-summary { margin: 3rem auto; }
    .order-summary > h1, .order-cost { grid-column: 1 / 3; } 
}