ag-grid-angular {
    --ag-header-foreground-color: rgb(241, 241, 241);
    --ag-header-background-color: purple;
    margin: 0 auto; 
    height: 30rem; 
    width: 100%; 
    box-shadow: 0 0 2px rgb(184, 184, 184);
}

.product-name:hover { text-decoration: underline; }
