.app-feedback {
    position: relative;
    flex-direction: column;
    margin: 12.5vh 0 40vh 0;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 5px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.bg-image {
    position: fixed;
    inset: 0% auto auto 0% ;
    background-image: url("https://images.pexels.com/photos/3782235/pexels-photo-3782235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    z-index: 1;
}

.complete, .feedback-section { width: 90vw; background: white; z-index: 2; }
.feedback-section { grid-template-columns: 80% 20%; row-gap: 2.5vh; }

.clickable {
    padding: 1rem 2rem 1.5rem 2rem; 
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid black; 
    box-shadow: 0 1px 3px gray;
    background: rgb(190, 0, 190);
}

.clickable > mat-icon { transform: translateY(45%); font-size: clamp(2rem, 3vw, 3rem); }
.clickable:hover { color: white; }

.complete-list { margin: 0; height: 0; transition: height 0.5s ease-in; }
.complete-list.active { height: 50vh; } 
.complete-list > li { padding: 0 3rem 0 2rem; column-gap: 0.5rem; min-height: 10vh; font-size: clamp(1rem, 1.5vw, 1.5rem); }
.complete-list > li > mat-icon { margin-bottom: clamp(1vh, 2%, 10%); color: purple; font-size: clamp(2rem, 3vw, 3rem); }

.feedback-section > div, .feedback-list { grid-column: 1 / 3; }
.feedback-list { grid-template-columns: 45% 45%; padding: 0 1.5vw; margin-top: 5vh; }
.feedback-list > ul { padding-left: 0; }
.feedback-empty { grid-column: 1 / 3; margin: 5vh auto; padding: 0 5vw; color: gray; font-style: italic; }
.feedback { 
    grid-template-columns: 75% 25%;
    padding: 1rem 3rem 1rem 2rem; 
    column-gap: 0.5rem;
    row-gap: 1vh;
    font-size: clamp(1rem, 1.5vw, 1.5rem); 
    word-break: break-all;
    min-height: 25vh;
    border: 2px solid grey;
}
.feedback:hover { background: rgb(235, 235, 235); }

.feedback-content { grid-column: 1 / 3; }
.feedback-id { color: gray; }
.clear-feedback { margin-left: auto; color: blue; text-decoration: underline; cursor: pointer; }


.feedback-section > textarea { text-indent: 0.5rem; margin: 1rem 0 1rem 1rem; height: 50vh; font-size: clamp(1rem, 1.5vw, 1.5rem); }
.feedback-section > textarea:focus { outline: 0; box-shadow: 0 0 5px 1px gray; }
.feedback-section > button { margin: 1rem; font-size: clamp(1rem, 1.25vw, 1.25rem); height: 50vh; background: black; color: white;}

@media (max-width: 50rem) {
    .complete, .feedback-section { width: 100vw; }
    .feedback-section > textarea { width: 95vw; margin: 0 0 0 2.5vw; }
    .feedback-section > button { grid-column: 1 / 3; height: 10vh; }
    .feedback-list, .feedback { grid-template-columns: 95%; margin: 0 auto; }
    .feedback-content { grid-column: 1 / 2; }
}

@media (max-width: 25rem) {
    .complete-list.active { height: 55vh; } 
    .complete-list > li { padding: 0 1rem 0 0; margin-bottom: 1vh; }
    .clickable { padding: 0.5rem 1.5rem 1rem 1rem; ; } 
}
