.home-bg { 
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: 100vh; 
    width: 100vw;
    background-image: url("https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.logo {
    position: absolute; 
    padding: 0.125rem 0.5rem;
    inset: 12% 0 0 5%; 
    font-size: clamp(1.25rem, 2vw, 2rem); 
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    letter-spacing: 0.1rem;
    height: fit-content;
    width: fit-content;
    background: rgb(243, 243, 243);
    border: 3px solid black;
    border-radius: 2.5rem;
    z-index: 1;
}

.logo-1 { color: goldenrod; }
.logo-2 { color: black; }

.home-overlay { position: absolute; height: 100%; width: 100%; background: black; opacity: 0.4; }

.home-quote {
    text-align: center;
    margin-top: 5%;
    font-size: clamp(1.875rem, 4vw, 5rem);
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 1px 1px 1px gray;
    z-index: 1;
}

.home-quote-2 { font-size: clamp(1.25rem, 2vw, 2rem); }

.shop-button { 
    position: relative; 
    margin-top: 25%; 
    padding: 0.5rem 0.75rem; 
    box-shadow: 0 0 2px; 
    background: transparent;
    border: 2px solid white;
    overflow: hidden; 
}
.btn-overlay { 
    position: absolute; 
    inset: 0 auto auto 0; 
    height: 100%; 
    width: 0; 
    background: black; 
    transition: all 0.3s ease-in;
}

.shop-button > a { 
    position: relative; 
    font-size: clamp(0.875rem, 1.25vw, 1.25rem); 
    font-family: 'Vidaloka', serif; 
    font-weight: 500;
    color: white; 
    z-index: 1; 
}

.shop-button:hover { border: 1px solid black; }
.shop-button:hover .btn-overlay { width: 100%; }
.shop-button:hover a { color: gold; }


.contact {
    position: absolute;
    bottom: 0;
    padding: 2vh 0;
    justify-content: center;
    column-gap: 10vw;
    width: 100vw; 
    background: black;
    box-shadow: 0 0 1px;
    transition: all 0.3s ease-in; 
}

.contact > h2 { 
    margin: 0; 
    font-family: 'Dancing Script', cursive;
    font-size: clamp(1.5rem, 2.5vw, 3rem); 
    font-weight: 500; 
    color: white; 
}

.icons { column-gap: 2rem; }

.icon-wrapper { background: gold; border-radius: 5rem; box-shadow: 0 0 2px black; overflow: hidden; }
.icon-wrapper > mat-icon { color: black; padding: 0.75rem 2.5rem 2.5rem 0.75rem; font-size: clamp(1.25rem, 2.5vw, 1.75rem); border-radius: 0 5rem 5rem 0; }
.icon-wrapper > i { padding: 0.875rem; font-size: clamp(1.3rem, 2.5vw, 1.5rem); color: black; border-radius: 0 5rem 5rem 0; }
.icon-wrapper > div { font-size: clamp(0.75rem, 1vw, 1.25rem); }
.email-content, .linked-in-content, .tech-content { font-weight: 500; letter-spacing: 0.05rem; height: 3rem; width: 0; transition: all 1s; }
.tech-content { list-style: none; }
.tech-content > li { margin-left: 0.5rem; padding: 0.5rem 0.3rem; border-radius: 3rem; }
.icon-wrapper:hover .email-content { width: 12rem; }
.icon-wrapper:hover .linked-in-content { width: 17rem; }
.icon-wrapper:hover .tech-content { width: 18rem; list-style: none; }
.linked-in-content > a { color: gold; text-decoration: underline; }

.home-body-1 { height: fit-content; width: 100vw; padding: 25vh 0; background: gold; }
.home-body-1 > div {
    margin: 0 auto;
    padding: 0 0 7vh 0;
    grid-template-columns: 45% 45%;
    row-gap: 0;
    height: 100%;
    width: 80%;
    background: rgb(230, 230, 230);
}

.home-body-1 > div > img {
    transform: translateY(0);
    margin-left: auto;
    object-fit: cover;
    height: 60vh;
    width: 125%; 
    border-radius: 0.125rem;
    box-shadow: 1px 1px 5px black;
    transition: all 1s ease-in; 
}

.home-body-1 > div > img.active { transform: translateY(-10%); }

.body-1-text { margin-left: auto; padding: 3rem 2rem; width: 75%;}
.body-1-text > span { 
    font-size: clamp(1.125rem, 1.75vw, 2rem);
    font-family: 'Tiro Gurmukhi', serif;
    font-style: oblique;
    letter-spacing: 0.5px;
}
.body-1-text > span > span { font-size: clamp(1.25rem, 2vw, 2rem); font-weight: bold; color: black; }

.home-body-2 { padding: 20vh 0; justify-content: center; height: 110vh; background: purple; }
.home-body-2 > img { height: 100%; object-fit: cover; width: 50%; }

.body-2-text {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    height: 100%;
    width: 30%;
    background: rgb(240, 240, 240);
}

.body-2-text > h1 { 
    margin: 0 0 15% 0;
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 500;
    font-family: 'Tiro Gurmukhi', serif;
    line-height: 1;
}

.body-2-text > h1 > span { color: purple; }

.body-2-text > p {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    width: 75%;
    color: black;
}

.home-body-3 { justify-content: center; height: 100vh; background: gold; }
.home-body-3 > img { height: 70%; width: 50%; object-fit: cover; }

.body-3-text { flex-direction: column; padding: 2rem 0 0 1rem; height: 60%; width: 30%; background: rgb(240, 240, 240); }

.body-3-text > h1 {
    margin: 0;
    margin-bottom: 4vh;
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 500;
    font-family: 'Tiro Gurmukhi', serif;
    line-height: 1;
    width: 75%;
}

.body-3-text > h1 > span { color: darkgoldenrod; }

.body-3-text > p {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    font-weight: 400;
    font-family: 'Vollkorn', serif;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    width: 75%;
    color: black;
}

.text.fade-slide.active { animation: fadeSlideUp 0.5s ease-in; }
.image.left.fade-slide.active { animation: fadeSlideRight 0.7s ease-in; }
.image.right.fade-slide.active { animation: fadeSlideLeft 0.7s ease-in; }

.home-services {
    padding: 20vh 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: 19% 19% 19%;
    grid-auto-columns: 1fr;
    column-gap: 7.5vw;
    row-gap: 5vh;
    width: 100vw;
    background: rgb(37, 37, 37);
}

.home-services > div {
    padding: 5vh 0.5vw;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 60vh;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 2px 1px rgb(172, 172, 172);
}

.home-services > div > h1 {
    margin: 0;
    padding: 0 0.5rem;
    font-family: 'Vollkorn', serif;
    font-size: clamp(1.375rem, 2vw, 1.75rem);
    letter-spacing: 1px;
}

.home-services > div > mat-icon { margin: 1rem 1rem 2rem 0; font-size: clamp(2rem, 3.5vw, 5rem); }

.home-services > div > p {
    padding: 0 0.5rem;
    font-size: clamp(0.9rem, 1.125vw, 2.5rem);
    font-weight: 500;
    font-family: 'Vollkorn', serif;
    letter-spacing: 0.75px;
    min-height: 50%;
    width: 100%;
    line-height: 2;
}

@media (max-width: 75rem) { .home-services { grid-template-columns: 25% 25% 25% } }

@media (max-width: 50rem) {
    .home-bg { height: 70vh; }
    .home-quote { margin: 0; }
    .logo { inset: 15% 0 0 2%; }
    .contact { flex-direction: column; row-gap: 1vh; }
    .icon-wrapper > mat-icon { padding: 0.625rem 2.25rem 2.125rem 0.75rem; }
    .home-body-1 { padding: 15vh 0; width: 100vw; }
    .home-body-1 > div { grid-template-columns: 50% 50%; width: 100%; background: white; }
    .home-body-1 > div > img { position: static; grid-column: 1 / 3; transform: translateY(0); box-shadow: unset; }
    .body-1-text { grid-column: 1 / 3; padding: 2rem; width: 100%; }
    .body-1-text > br { display: none; }

    .home-body-2 { padding: 15vh 0; flex-direction: column-reverse; height: fit-content; } 
    .body-2-text, .home-body-2 > img { width: 100%; align-items: center; }
    .body-2-text > h1 { margin: 0 0 10% 0; }
    
    .home-body-3 { padding: 15vh 0; flex-direction: column; height: fit-content; }
    .home-body-3 > img { width: 100vw; }
    .body-3-text { padding: 2rem 0 1rem 0; height: 35vh; width: 100vw; }
    .body-3-text > h1 { margin-bottom: 1vh; width: 70%; }
    .body-3-text > p { width: 70%; }

    .home-services { grid-template-columns: 45% 45%; column-gap: 1rem; row-gap: 2vh; padding: 10vh 0 5vh 0;}
    .home-services > div > h1 { line-height: 1.25; }
    .home-services > div > mat-icon { margin: 0.125rem 0.75rem 0.125rem 0; }
    .home-services > div > p { line-height: 1.5; }
}

@media (max-width: 25rem) {
    .home-bg { height: 80vh; }
    .logo { inset: 20% 0 0 2%; }
    .email:hover { transform: translateX(20%); } 
    .tech:hover { transform: translateX(-20%); }
    .body-3-text { height: 50vh; }
    .home-services { grid-template-columns: 90%; row-gap: 2vh; }
}

@media (max-width: 15rem) { .logo { display: none; } }

