<main class="home-page flex">
    <div class="home-overlay"></div>
    <div class="home-motto flex">
        <span class="home-motto-1"><span class="key-motto">Organic</span> and Natural</span><br/>
        <span class="home-motto-2">Follow <span class="key-motto">old traditions</span> to grow food</span><br/>
        <button class="shop-button">
            <a class="grocery-list-link flex" [routerLink]="['/browse_products/page_1']"> View Our Products</a>
        </button>  
    </div>
    <div class="contact flex">
        <h2>Feel Free to Contact Me</h2>
        <div class="icons flex">
            <div class="icon-wrapper email flex">
                <mat-icon>email</mat-icon>
                <div class="email-content flex">qijieguan7@gmail.com</div>
            </div>
            <div class="icon-wrapper linkedin flex">
                <i class="pi pi-linkedin"></i>
                <div class="linked-in-content">
                    <a href="https://www.linkedin.com/in/qi-jie-guan-002924201/" target="_blank">
                        https://www.linkedin.com/in/qi-jie-guan-002924201/
                    </a>
                </div>
            </div>
            <div class="icon-wrapper tech flex">
                <mat-icon>build</mat-icon>
                <div class="tech-content flex">
                    <li>Angular</li>
                    <li>HTML/CSS/JS</li>
                    <li>MongoDB</li>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="home-body-1 body">
    <div class="grid">
        <img class="image left fade-slide" src="https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>
        <h1 class="body-1-text">
            <span class="text fade-slide"><span>Choosing</span> a healthy diet </span><br/><br class="newline"/>
            <span class="text fade-slide"> <span>Exploring</span> more meal options </span><br/><br class="newline"/>
            <span class="text fade-slide">
                Fresh products ensuring <span>easier meal prep </span>
            </span>
        </h1>
    </div>
</div>
<div class="home-body-2 body flex">
    <div class="body-2-text flex">
        <h1 class="text fade-slide">Taste of <span>Organic Grapes</span></h1>
        <p class="text fade-slide">
            We grow our grapes with traditional practices. All natural and zero pesticides. 
            Feel free to experience our finest wine made with organic grapes.
        </p>
    </div>
    <img class="image right fade-slide" src="https://images.pexels.com/photos/708777/pexels-photo-708777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>
</div>
<div class="home-body-3 body flex">
    <img class="image left fade-slide" src="https://images.pexels.com/photos/7363077/pexels-photo-7363077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>
    <div class="body-3-text flex">
        <h1 class="text fade-slide"><span>Stay Home</span>. We Deliver.</h1><br/>
        <p class="text fade-slide">
            Make use of our delivery service for your purchases.
            We put careful consideration in picking and preserving the freshness of your groceries.
        </p>
    </div>
</div>
<div class="home-services grid">
    <div class="flex">
        <h1>Special Deals and Benefits</h1>
        <mat-icon>sell</mat-icon>
        <p>Enjoy variety of deals as our patrons. 
            Additional benefits are offered to different membership tiers. 
            More bulk deals, free shipping, etc.
        </p>
    </div>
    <div class="flex">
        <h1>Packaging and Shipping</h1>
        <mat-icon>local_shipping</mat-icon>
        <p> 
            Groceries are bagged and delivered within hours. Items are preserved at appropiate temperature on delivery. 
            Maximum distance to qualify delivery is 30 miles. 
        </p>
    </div>
    <div class="flex">
        <h1>Eco-Friendly</h1>
        <mat-icon>forest</mat-icon>
        <p>
            Many of our shelf products are homegrown. 
            We ensure that our products are pesticide free and naturally grown.
            Taste food that brings us closer to nature.
        </p>
    </div>
</div>