<div class="app-home">
    <h1>MAKE YOUR <span>GROCERY SHOPPING</span> A <span>CONVENIENCE</span></h1>
    <h2>SHOP ONLINE FOR A VARIETY OF FRESH GROCERIES</h2>
    <div class="contact flex">
        <div class="icon-wrapper flex">
            <mat-icon>email</mat-icon>
            <div class="email-content flex">qijieguan7@gmail.com</div>
        </div>
        <div class="icon-wrapper flex">
            <i class="pi pi-linkedin"></i>
            <div class="linked-in-content">
                <a href="https://www.linkedin.com/in/qi-jie-guan-002924201/" target="_blank">
                    https://www.linkedin.com/in/qi-jie-guan-002924201/
                </a>
            </div>
        </div>
    </div>
</div>
<div class="app-quote flex">
    <h1>We Strive to Deliver<span> Fresh </span>Goods to Your Door. <br/> Make Yourself a<span> Healthy </span> Meal.</h1>
</div>
<div class="app-content grid">
    <div>
        <h1>Special Deals and Benefits</h1>
        <mat-icon>sell</mat-icon>
        <p>Enjoy variety of deals as our patrons. 
            Additional benefits are offered to different membership tiers. 
            Benefits cash rewards, free shipping, etc.
        </p>
    </div>
    <div>
        <h1>Packaging and Shipping</h1>
        <mat-icon>local_shipping</mat-icon>
        <p> 
            Food are bagged and delivered within hours. Fresh food are kept refridgerated on delivery. 
            Maximum distance to qualify delivery is 50 miles. 
        </p>
    </div>
    <div>
        <h1>Eco-Friendly</h1>
        <mat-icon>forest</mat-icon>
        <p>
            We also grow our own product to put on the shelf. 
            We ensure that our product is pesticide free and naturally grown.
            Taste food that are close to nature.
        </p>
    </div>
</div>
<!--fix overflow-->