<main class="main_bg grid flex">
    <div class="main_text">
        <span class="main_text_1">Organic and Natural</span><br/>
        <span class="main_text_2">Follow old traditions to grow food</span><br/>
        <button>
            <a class="grocery-list-link flex" [routerLink]="['/browse_groceries/page_1']"> START SHOPPING</a>
        </button>  
    </div>
</main>
<div class="app-home flex">
    <div class="home-text">
        <h1>MAKE YOUR <span>GROCERY SHOPPING</span> A <span>CONVENIENCE</span></h1>
        <h2>SHOP ONLINE FOR A VARIETY OF FRESH GROCERIES</h2>
    </div>
    <div class="contact flex">
        <div class="icon-wrapper flex">
            <mat-icon>email</mat-icon>
            <div class="email-content flex">qijieguan7@gmail.com</div>
        </div>
        <div class="icon-wrapper flex">
            <i class="pi pi-linkedin"></i>
            <div class="linked-in-content">
                <a href="https://www.linkedin.com/in/qi-jie-guan-002924201/" target="_blank">
                    https://www.linkedin.com/in/qi-jie-guan-002924201/
                </a>
            </div>
        </div>
        <div class="icon-wrapper flex">
            <mat-icon>build</mat-icon>
            <div class="tech-content flex">
                <li>Angular</li>
                <li>HTML/CSS/JS</li>
                <li>MongoDB</li>
            </div>
        </div>
    </div>
</div>
<div class="app-body-1">
    <div class="grid">
        <img src="https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>
        <h1 class="body-1-text">
            <span class="fade-slide"><span>Starting</span> a healthy diet. </span><br/><br/>
            <span class="fade-slide"> <span>Expanding</span> meal options. </span><br/><br/>
            <span class="fade-slide">
                Don't worry. Our fresh products ensure <span>easy</span> 
                and <span> convenient</span> meal prep.
            </span>
        </h1>
    </div>
</div>
<div class="app-body-2 flex">
    <div class="body-2-text flex">
        <h1 class="fade-slide">Taste of <span>Organic Grapes</span></h1>
        <p class="fade-slide">
            We grow our grapes with traditional practices. All natural and zero pesticides. 
            Feel free to experience our finest wine made with organic grapes.
        </p>
    </div>
    <img src="https://images.pexels.com/photos/708777/pexels-photo-708777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>
</div>
<div class="app-body-3 flex">
    <img src="https://images.pexels.com/photos/7363077/pexels-photo-7363077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""/>
    <div class="body-3-text flex">
        <h1 class="fade-slide">Stay Home. We Deliver.</h1><br/>
        <p class="fade-slide">
            Affordable and quick delivery to everyone. 
            Fresh organic groceries could be waiting at your door.
            Join us on a healthy journey today.
        </p>
    </div>
</div>
<div class="app-content grid">
    <div>
        <h1>Special Deals and Benefits</h1>
        <mat-icon>sell</mat-icon>
        <p>Enjoy variety of deals as our patrons. 
            Additional benefits are offered to different membership tiers. 
            Benefits cash rewards, free shipping, etc.
        </p>
    </div>
    <div>
        <h1>Packaging and Shipping</h1>
        <mat-icon>local_shipping</mat-icon>
        <p> 
            Groceries are bagged and delivered within hours. Fresh food are kept refridgerated on delivery. 
            Maximum distance to qualify delivery is 50 miles. 
        </p>
    </div>
    <div>
        <h1>Eco-Friendly</h1>
        <mat-icon>forest</mat-icon>
        <p>
            We also grow our own product to put on the shelf. 
            We ensure that our product is pesticide free and naturally grown.
            Taste food that are close to nature.
        </p>
    </div>
</div>