.app-home {
    align-items: flex-start !important;
    padding-left: 15vh;
    margin: 2rem 0 9rem 0;
    width: 100vw;
    border-radius: 0 0.25rem 0.25rem 0;
    overflow: hidden;
}

.home-text { padding-top: 1.5rem; margin-left: 12.5vw; width: 70%; }

.home-text > h1 { 
    font-size: clamp(1.125rem, 2.5vw, 1.75rem);
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 0.5rem;
    color: white;
}

.home-text > h1 > span { color: gold; }

.home-text > h2 {
    margin-top: 5rem;
    font-size: clamp(0.875rem, 2.5vw, 1.25rem);
    font-weight: 500;
    letter-spacing: 0.25rem;
    color: white;
}

.contact { position: relative; margin: 6rem 0 0 12.5vw;  column-gap: 2rem; width: 70vw; z-index: 1; }

.icon-wrapper { 
    background: black;
    border-radius: 5rem;
    border: 1.5px solid gold;
    overflow: hidden;
}

.icon-wrapper > mat-icon { 
    margin-right: auto;
    padding: 0.75rem 2.5rem 2.5rem 0.75rem; 
    font-size: clamp(1.5rem, 2.5vw, 1.75rem); 
    color: gold; 
    background: rgb(20, 20, 20);  
    border-radius: 0 5rem 5rem 0;
}

.icon-wrapper > i { 
    margin-right: auto;
    padding: 0.875rem; 
    font-size: clamp(1.3rem, 2.5vw, 1.5rem); 
    color: gold; 
    background: rgb(20, 20, 20);  
    border-radius: 0 5rem 5rem 0;
}

.email-content, .linked-in-content { font-weight: 500; letter-spacing: 0.05rem; height: 3rem; width: 0; color:gold; transition: all 1s; z-index: 3; }
.icon-wrapper:hover .email-content { margin-left: 0.5rem; width: 12rem; }
.icon-wrapper:hover .linked-in-content { margin-left: 0.5rem; width: 17.5rem; }
.linked-in-content > a { color: gold; text-decoration: underline; }

.app-body-1 { padding: 20vh 0 15vh 0; margin: 50vh 0 5vh 0; height: 100vh; width: 100vw; background: white; }

.app-body-1 > div {
    margin: 0 auto;
    grid-template-columns: 45% 45%;
    row-gap: 0 !important;
    height: 100%;
    width: 80%;
    background: rgb(230, 230, 230);
}


.app-body-1 > div > img {
    transform: translateY(-10%);
    margin-left: auto;
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100%; 
    border-radius: 0.125rem;
    box-shadow: 1px 1px 5px black; 
}

.body-1-text { padding: 2rem; height: 50vh; width: 70%; }
.body-1-text > span { 
    flex-direction: column;
    font-size: clamp(1.25rem, 2vw, 3rem);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 1px;
    color: black;
}

.body-1-text > span > span { font-size: clamp(1.375rem, 2vw, 3rem); letter-spacing: 1px; color: darkgreen; }

.app-body-2 { padding: 10vh 0; margin-bottom: 30vh; justify-content: center; height: 90vh; background: white; }

.app-body-2 > img { height: 100%; background-size: cover; width: 45%; }

.body-2-text {
    flex-direction: column;
    align-items: flex-start !important;
    padding: 2rem;
    height: 100%;
    width: 30%;
    background: rgb(240, 240, 240);
}

.body-2-text > h1 { 
    margin: 0 0 15% 0;
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 500;
    font-family: 'Tiro Gurmukhi', serif;
    line-height: 1;
}

.body-2-text > p {
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-weight: 400;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    width: 75%;
    color: black;
}

.app-content {
    align-items: center;
    justify-content: center !important;
    grid-template-columns: 18% 18% 18%;
    column-gap: 7vw;
    row-gap: 5vh;
    padding: 12vh 0;
    min-height: 125vh;
    width: 100vw;
    background: rgb(231, 231, 231);
}

.app-content > div {
    margin-bottom: 3rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-height: 60vh;
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 2px 1px gray;
}

.app-content > div > h1 {
    margin: 0;
    padding: 0 0.5rem;
    font-family: 'Vidaloka', serif;
    font-size: clamp(1.375rem, 2vw, 1.75rem);
    font-style: italic;
    letter-spacing: 1.25px;
    color: navy;
}

.app-content > div > mat-icon {
    margin: 1rem 1rem 2rem 0;
    font-size: clamp(2rem, 3.5vw, 5rem);
    color: lightblue;
}


.app-content > div > p {
    padding: 0 0.5rem;
    font-size: clamp(0.9rem, 1.125vw, 2.5rem);
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    min-height: 50%;
    width: 100%;
    line-height: 2;
}

@media (max-width: 50rem) {
    .app-home { margin: 0; padding-left: 0; justify-content: space-evenly; width: 90vw; background: black; }
    .home-text { width: 35vw; }
    .contact { margin: 5rem 0 0 12.5vw; flex-direction: column; row-gap: 1.25rem; align-items: flex-start!important;}
    .icon-wrapper > mat-icon { padding: 0.625rem 2.25rem 2.125rem 0.75rem; }
    .app-body-1 { padding: 20vh 0 90vh 0; margin: 0; }
    .app-body-1 > div { grid-template-columns: 50% 50%; width: 100%; background: white; }
    .app-body-1 > div > img { position: static; grid-column: 1 / 3; transform: translateY(0); box-shadow: unset; }
    .body-1-text { grid-column: 1 / 3; width: 100%; background: white; }
    .body-1-text > br { display: none; }
    .app-body-2 {  flex-direction: column-reverse; padding: 10vh 0 15vh 0; margin-bottom: 20vh; } 
    .body-2-text, .app-body-2 > img { width: 100%; }
    .body-2-text > h1 { margin: 0 0 10% 0; }
    .app-content { grid-template-columns: 35% 35%; column-gap: 1.5rem; }
    .app-content > div > h1 { line-height: 1.25; }
    .app-content > div > mat-icon { margin: 0.125rem 0.75rem 0.125rem 0; }
    .app-content > div > p { line-height: 1.5; }
}



