<header>
    <div class="logo">
        <img class="tomato" src="https://cdn.pixabay.com/photo/2020/03/30/15/56/tomato-4984619_960_720.png" alt=""/>
        <img class="vine" src="https://cdn.pixabay.com/photo/2013/07/13/10/43/fruits-157665_960_720.png" alt=""/>
        <img class="bread" src="https://cdn.pixabay.com/photo/2012/04/11/17/16/bread-29006_960_720.png"/>
        <div><span>E-Grocer </span>Project</div>
    </div>
    <div class="header-overlay scroll"></div>
</header>
<div class="app-wrapper flex">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>

