header { 
    position: relative; 
    justify-content: space-between; 
    padding: 10vh 0 5vh 0;  
    margin: 0;
    background: rgb(245, 245, 245);
    box-shadow: 0 2px 2px rgb(180, 180, 180);
    z-index: 2;
}

.logo { margin: 2vh auto 0 8vh; position: absolute; top: 26%; width: fit-content; z-index: 1; }

.logo > img { position: absolute; height: 9vh; z-index: -1; }
.tomato { inset: 0 auto auto 0; transform: rotate(-45deg) translate3d(18%, -35%, 0); }
.vine { inset: 0 0 auto auto; transform: translate3d(35%, -70%, 0); }
.bread { inset: 0 50% auto 50%; transform: translate3d(-35%, -50%, 0); }

.logo > div {
    padding: 0.125rem 0.5rem;
    font-size: clamp(1.5rem, 2vw, 2.5rem); 
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    letter-spacing: 0.1rem;
    background: rgb(243, 243, 243);
    border: 3px solid black;
    border-radius: 2.5rem;
}

.logo > div > span { color: darkgreen; }

.app-wrapper { flex-direction: column; width: 100%; }

.app-wrapper.bg-color { background: rgb(243, 243, 243) !important; }

@media (max-width: 50rem) {
    header { padding: 3rem 0 1.25rem 0; flex-direction: column; justify-content: unset; height: 20vh; }
    header.home { background: transparent; box-shadow: unset; }
    .logo { margin: 10vh auto 0 auto; top: 10%; }
    .logo > img { height: 7vh; }
}

@media (max-width: 15rem) { .logo { display: none; } }