<div class="expand grid">
    <mat-icon (click)="goBack()">arrow_circle_left</mat-icon>
    <canvas id="canvas"></canvas>
    <canvas id="canvas-zoom" class="disable"></canvas>
    <div class="expand-container grid">
        <h1>{{item.name}}</h1>
        <app-rating [itemID]="param" [expand]="true"></app-rating>
        <p>{{item.description}}</p>
        <hr/>
        <div class="expand-input flex">
            <span class="expand-price">PRICE: $<span>{{unit_price.toFixed(2)}}</span></span>
            <div class="expand-quantity flex">
                <span>QTY: </span>
                <input type="number" [value]=quantity_input (change)="setQuantity($event)" min="1"/>
            </div>
            <button (click)="addCart()">Add to cart</button>
            <div class="add-msg"><span *ngIf="isAdded">{{item.name}}(s) added to cart!</span></div>
        </div>
    </div>
</div>

<app-review></app-review>

