.interface-section { 
    justify-content: center;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    padding: 5vh 0 10vh 0;
    min-height: 125vh;
    width: 100%;
    background: rgb(241, 241, 241);
}

.interface-container { 
    position: relative;
    flex-direction: column;
    row-gap: 5vh;
    z-index: 1;
}

.interface-label {
    margin: 0 0 10vh 5vw;
    align-self: flex-start;
    border-left: 5px solid black;
    font-size: clamp(1.75rem, 3.5vw, 3.5rem);
    font-weight: 700;
}

.interface-label > span {
    padding-left: 2vw;
    animation: fadeIn 0.5s ease-in forwards;
    opacity: 0;
}

.interface-label > span > span { color: darkorange; }

.interface-label > span:nth-of-type(2) { animation-delay: 0.5s; }

.interface-links { 
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    width: 80%;
}

.interface-option {
    position: relative;
    padding: 2.5vh 0.25vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 65vh;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: white;
    overflow: hidden;
}

.interface-color {
    position: absolute;
    height: 100px;
    width: 0;
    background: orange;
    transition: all 1s ease-in;
}

.interface-color.expand {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.interface-option > img {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 1s ease-in;
}

.interface-option:hover img { transform: scale(1.05); }

.interface-image-1 {
    background-image: url("https://images.pexels.com/photos/3184603/pexels-photo-3184603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}   
.interface-image-2 {
    background-image: url("https://images.pexels.com/photos/4497733/pexels-photo-4497733.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.interface-image-3 {
    background-image: url("https://images.pexels.com/photos/6888760/pexels-photo-6888760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.interface-overlay {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.interface-option:hover .interface-overlay { background: darkorange; opacity: 0.7; }

.interface-option > h1 { font-weight: bold; z-index: 1; }
.interface-option > span { color: white; z-index: 1; }
.clickable { position: absolute; bottom: 10%; justify-self: flex-end; }


@media (max-width: 65rem) {
    .interface-container { row-gap: 0; }
}

@media (max-width: 50rem) {
    .interface-container { width: 100%; }
    .interface-links { grid-template-columns: 48% 48%; width: 100%; }
}

@media (max-width: 35rem) {
    .interface-container { display: flex; flex-direction: column; row-gap: 3vh; border-radius: 0; }
    .interface-label {  padding-left: 5vw; margin: 0 0 5vh 5vw; }
    .interface-links { grid-template-columns: 90%; }
}

