<div class="interface-section flex">
    <div class="interface-container flex">
        <h1 class="interface-label"><span>Let's <span> dive </span> deeper.</span><br/> <span>Explore <span> experiences </span> with our site.</span> </h1>
        <div class="interface-links grid">
            <a [routerLink]="['/main/user_portal']">
                <div class="interface-option one active flex">
                    <img class="interface-image-1" alt=""/>
                    <div class="interface-overlay"></div>
                    <h1>Build Your Collection</h1>
                    <span>Explore new business opportunities. We offer our service for free.</span>
                    <span class="clickable flex"><mat-icon>arrow_forward</mat-icon>Access My Portal</span>
                </div>
            </a>
            <a [routerLink]="['/main/product_submission']">
                <div class="interface-option two flex">
                    <img class="interface-image-2" alt=""/>
                    <div class="interface-overlay"></div>
                    <h1>Product Submission</h1>
                    <span>New products ready to hit the market. Make it happen with a quick form in one go.</span>
                    <span class="clickable flex"><mat-icon>arrow_forward</mat-icon>Fill Product Form</span>
                </div>
            </a>
            <a [routerLink]="['/feedback']">
                <div class="interface-option three flex">
                    <img class="interface-image-3" alt=""/>
                    <div class="interface-overlay"></div>
                    <h1>Feedback and Growth</h1>
                    <span>Feedbacks are crucial to our business. Let us know how we can improve your experience.</span>
                    <span class="clickable flex"><mat-icon>arrow_forward</mat-icon>Share Feedbacks</span>
                </div>
            </a>
        </div>  
    </div>
</div>
