header {
    position: relative;
    padding: 6rem 0 2rem 2.5%;
    min-height: 25vh;
    width: 100%;
    z-index: 1;
}

.logo { position: relative; width: fit-content; animation: slideDown 0.7s ease-in forwards; }
.logo > img { position: absolute; height: 8rem; object-fit: cover; z-index: -1; }

.tomato {
    inset: 0 auto auto 0;
    transform: rotate(-45deg) translate3d(20%, -40%, 0)
}

.vine {  
    inset: 0 0 auto auto;
    transform: translate3d(25%, -55%, 0);
}

.bread { 
    inset: 0 50% auto 50%;
    margin: auto 0;
    transform: translate3d(-40%, -55%, 0);
}

.logo > div {
    padding: clamp(0.25rem, 2.5vw, 1rem);
    font-size: clamp(3rem, 3vw, 8rem); 
    font-family: 'Lobster', cursive;
    height: 100%;
    letter-spacing: 0.25rem;
    background: rgb(243, 243, 243);
    border: 5px solid black;
    border-radius: 5rem;
}
.logo > div > span { color: darkred; }

.app-wrapper { 
    position: relative;
    align-items: flex-start !important; 
    justify-content: space-evenly;
    padding: 6rem 0; 
    min-height: 100vh; 
    width: 100%; 
    z-index: 1; 
}

header.background { background: darkred !important; box-shadow: 0 2px 2px rgb(36, 36, 36); z-index: 2 !important; }
.background { background: rgb(243, 243, 243) !important; }

@keyframes slideDown {
    0% {transform: translateY(-50%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

@media (max-width: 50rem) {
    header { padding: 5rem 0 1rem 0; }
    .logo { margin: 0 auto 0 auto; }
    .logo > img { height: 7rem; }
    .app-wrapper { padding: 5rem 0; }
}



