.pagination { justify-content: center; margin-top: 10vh; }

.pagination > button {
    position: fixed;
    padding: 0.75rem 0.9rem 0.5rem 0.9rem;
    color: black; 
    background: rgb(187, 187, 187);
    border-radius: 5rem;
    box-shadow: 0 0 3px;
    opacity: 0.5;
}
.pagination > button:hover { opacity: 1; }
.left { inset: 50% auto auto 17%; }
.right { inset: 50% 1% auto auto; }

.page-count { column-gap: clamp(0.125rem, 1vw, 0.75rem); }

.page { 
    padding: 0.75rem 1.25rem;
    font-size: clamp(1rem, 1.25vw, 2rem);
    font-weight: 500;
    transition: all 0.3s ease-in;
}

.page:hover { color: white; background: black; border-radius: 3rem; }

.page.clicked { color: white; background: black; border-radius: 3rem; pointer-events: none; } 

@media (max-width: 50rem) {
    .pagination { margin-top: 15vh; padding: 0; }
    .page { padding: 0.5rem 1rem; }
    .left { inset: 50% auto auto 24%; }
}
