.pagination { justify-content: center; margin-top: 10vh; }

.pagination > button {
    position: fixed;
    padding: 0.75rem 0.9rem 0.5rem 0.9rem;
    color: black; 
    background: rgb(187, 187, 187);
    border-radius: 5rem;
    box-shadow: 0 0 3px;
    opacity: 0.5;
}
.pagination > button:hover { opacity: 1; }
.left { inset: 50% auto auto 19.5%; }
.right { inset: 50% 1% auto auto; }

.page-count { column-gap: clamp(0.125rem, 1vw, 0.75rem); font-family: 'Bebas Neue', cursive; }

.page { 
    padding: 0.65rem 1.36rem;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 500;
    transition: all 0.3s ease-in;
    border-radius: 3rem;
}

.page:hover { color: white; background: gray; }

.page.clicked { color: white; background: black; pointer-events: none; } 

@media (max-width: 50rem) {
    .pagination { margin-top: 15vh; padding: 0; }
    .page { padding: 0.5rem 1.05rem; }
    .left { inset: 50% auto auto 25%; }
}

@media (max-width: 25rem) { .left { inset: 50% auto auto 1%; } }
