.item-list {
    grid-template-columns: 33% 33%;
    width: 70vw;
    row-gap: 5rem;
    padding: 4rem 0;
    background: white;
    border-radius: 0.125rem;
    box-shadow: 2px 2px 5px;
}

.item {
    margin-bottom: 1rem;
    flex-direction: column;
    height: 21rem;
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0 0 2px gray;
    border-radius: 0.25rem;
}

.item > img { height: 60%; width: 100%; border-bottom: 1px solid rgb(218, 218, 218); border-radius: 0.25rem 0.25rem 0 0; }

.item-label {  
    align-items: flex-start !important;
    justify-content: space-evenly;
    flex-direction: column;
    height: 30%;
    width: 85%;
}
.item-name { margin: 0; font-weight: bold; font-size: clamp(1.125rem, 2.5vw, 1.5rem); }
.item-label > div { justify-content: space-between; font-size: clamp(0.9rem, 2.5vw, 1rem); font-weight: 500; width: 100%; }
.item-link { color: gray; font-weight: normal; }
.item-link:hover { text-decoration: underline; }

.item-input { height: 10%; width: 100%; border-top: 1px solid rgb(219, 219, 219); }

.add-button { 
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: bold;
    height: 100%; 
    width: 100%; 
    background: rgb(29, 29, 29); 
    color: white; 
}
.add-button.remove { display: none !important; }

.quantity-input { position: relative; height: 100%; width: 100%; justify-content: space-between; }
.quantity-input > span { font-weight: bold; }

.increment, .decrement {
    justify-content: center;
    height: 100%;
    width: 20%;
    background: red;
    border: 0;
    border-radius: 0.25rem;
}

.increment:hover, .decrement:hover { box-shadow: 0 0 3px; }

.confirm-button {
    position: absolute;
    margin-top: 2rem;
    column-gap: 0.25rem;
    justify-content: center;
    transform: translateY(100%);
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-weight: bold;
    height: 100%;
    width: 100%;
    color: white;
    background: red;
    border-radius: 3rem;
}

@media (max-width: 50rem) {
    .item-list { grid-template-columns: 45% 45%; }
    .item { height: 15rem; }
}
