.post-form { 
    margin-top: 2.5vh;
    padding: 10vh 0;
    flex-direction: column;
    row-gap: 5vh;
    font-family: 'Raleway', sans-serif;
    width: 80vw;
    justify-content: space-around;
}

.product-input { padding: 0 2.5vw; width: 100%; }
.product-input > span { color: grey; }
.product-input:not(.product-title) > input { margin-left: 2vw; }

.post-header-banner { position: relative; margin: 0 auto; height: 40vh; width: 95%; }

.post-header-image { 
    background-image: url("https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.post-header-overlay {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(black, 0.9), rgb(black, 0.9) 20%, rgb(255, 255, 255, 0.3) 100%);
}

.post-title {
    position: absolute;
    inset: auto auto 5% 5%;
    padding: 2vh 1.5vw;
    letter-spacing: 3px;
    color: orange;
    text-align: center;
    z-index: 1;
}

.post-title > h1 { font-size: clamp(1.5rem, 2.5vw, 2.5rem); font-weight: 500;  }
.post-title > h2 { font-size: clamp(1rem, 1.5vw, 2rem); color: white; }

.post-message { 
    margin: 0 auto 1vh auto;
    padding: 4vh 2.5vw;
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    width: 95%;
    background: white;
    border: 2px solid black;
    border-left-width: 6px;
    border-radius: 0.5rem;
}

.product-image { width: 100%; color: darkorange; }
.product-upload { flex-direction: column; width: 90%; }

.preview-image {
    justify-content: center;
    flex-direction: column;
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    letter-spacing: 0.05rem;
    height: 40vh;
    width: 100%;
    background: white;
    object-fit: cover;
    border: 2px solid darkorange;
    border-radius: 0.125rem;
}

#file-input { 
    padding: 3vh 0; 
    height: fit-content; 
    width: 90%; 
    background: rgb(226, 226, 226); 
    border: 1px solid darkorange;
}

hr { margin: 5vh 0 0 0; padding: 0; color: black; }
.product-title > input { font-size: clamp(0.875rem, 1vw, 1rem); width: 90%; height: 5vh; }
.product-quantity, .product-price, .product-tag { margin: 0 auto; }

label { margin-bottom: 0.5vh; font-size: clamp(0.875rem, 1.5vw, 1.5rem); color: darkorange; }
label::after { content: " *"; color: red; }

.product-description > label::after {
    content: " <optional>" !important;
    color: rgb(146, 146, 146) !important;
    font-style: italic;
}

input, textarea, select, option { 
    height: 5vh;
    margin-top: 1vh;
    text-indent: 0.375rem;
    letter-spacing: 0.75px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0.125rem;
}
textarea { height: 20vh; width: 100%; }
input::placeholder, textarea::placeholder { color: rgb(184, 184, 184); }
input:focus, textarea:focus, select:focus { outline: 0; border: 0; box-shadow: 0 0 5px gray; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select { margin-left: 0.75vw; border-radius: 0.25rem; }

.submit-btn { 
    position: relative;
    padding: 2.5vh 0;
    margin: 5vh auto 0 auto;
    font-weight: 700;
    font-size: clamp(1rem, 1.625vw, 1.625rem); 
    letter-spacing: 1px;
    width: 95%;
    border: 1px solid; 
    color: darkorange;
    box-shadow: 0 0 3px darkorange;
    z-index: 1;
}

.btn-overlay { 
    position: absolute;
    inset: 0 auto auto 0;
    background: darkorange;
    height: 100%;
    width: 25%;
    transition: all 0.3s ease-in;
    z-index: -1;
    opacity: 0;
}

.submit-btn:hover { color: white; border-color: darkorange; } 
.submit-btn:hover .btn-overlay { width: 100%; opacity: 1; }

@media (max-width: 50rem) {
    .post-form { width: 100vw; } 
    .post-header-banner { width: 100%; }
    .post-message { padding: 2vh 5%; }
    .preview-image { height: 25vh; width: 50%; }
    .preview-image * { font-size: clamp(1.25rem, 1.5vw, 2rem); }
    .product-tag { flex-direction: column; }
}

@media (max-width: 35rem) {
    .post-form { padding: 5vh 4vw; display: flex; flex-direction: column; border-radius: 0; }
    .preview-image { height: 30vh; width: 95%; font-size: clamp(0.875rem, 1.5vw, 2.5rem); }
    .product-upload { margin-top: 3vh; }
    hr { margin: 1vh 0; }
    .product-title > input { width: 100%; }
    .product-image { flex-direction: column; margin-bottom: 2.5vh; }
    .product-tag { margin: 2.5vh 0; }
}

@media (max-width: 25rem) { .product-input:not(.product-title) > input { margin-left: 0; } }