<div class="nav-bar flex">
   
    <a class="home-link flex" routerLink="" routerLinkActive="active current">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
    </a>  

    <a class="item-list-link flex" routerLink="/item_list" routerLinkActive="active current">
        <mat-icon>shopping_bag</mat-icon>
        <span>SHOP</span>
    </a>  
   
    <a class="cart-link flex" routerLink="/shop_cart" routerLinkActive="active current">
        <mat-icon>shopping_cart</mat-icon>
        <span>CART</span>
    </a>

    <a class="note-link flex" routerLink="/note" routerLinkActive="active current">
        <mat-icon>info</mat-icon>
        <span>NOTE</span>
    </a>
    
</div>

