.nav-bar {
    position: relative;
    flex-direction: column;
    min-height: 12.5rem;
    width: 17.5vw;
    background: white;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 0.25rem;
    box-shadow: 2px 2px 5px;
    z-index: 1;
    overflow: hidden;
}

.nav-bar > a {
    list-style: none;
    padding: 0.5rem 0;
    column-gap: 0.5rem;
    font-weight: 500;
    width: 100%;
    color: black;
   
}

.nav-bar > a:hover { background: red; border-bottom: 0; }

.nav-bar > a > mat-icon { margin-left: 27.5%;}

.nav-bar > a:hover { color: white; box-shadow: 0 0 3px; }

.highlight { 
    background: red; 
    color: white!important;
    box-shadow: 0 0 5px; 
}

@media (max-width: 50rem) {
    .nav-bar { width: 25vw; }
    .nav-bar > a > mat-icon { margin-left: 15%;}
}
