<div class="map grid">
    <label class="container flex">
        <input type="radio" (click)="handleClick($event)" name="pick-up" class="active" checked>
        <span>Store Pick-Up</span>
    </label>
    <label class="container flex">
        <input type="radio" (click)="handleClick($event)" name="delivery">
        <span>Delivery - Cost Varies</span>
    </label>
    <img *ngIf="!deliveryInp"  class="pick-up-img" alt=""/>
    <form *ngIf="deliveryInp" (submit)="mapUpdate($event)">
        <span>Delivery Address:</span> 
        <input
            placeholder="e.g. 420 Smoketown Ave, Los Angeles, CA 90001"
            (keyup)="handleChange($event)"
        />
        <button type="submit" (click)="mapUpdate($event)">Track</button>
    </form>
    <iframe 
        *ngIf="deliveryInp" 
        loading="lazy" 
        [src]="map_url"  
        allowfullscreen 
    >
    </iframe>
</div>
