<div class="map grid">
    <label class="container flex">
        <input type="radio" (click)="handleClick($event)" name="pick-up">
        <span>Store Pick-Up</span>
    </label>
    <label class="container flex">
        <input type="radio" (click)="handleClick($event)" name="delivery" class="active" checked>
        <span>Delivery - Cost Varies</span>
    </label>
    <form class="grid" *ngIf="deliveryInp" (submit)="mapUpdate($event)">
        <div class="street">
            <label>Street Address</label><br/>
            <input 
                (keyup)="handleChange($event, 'street')"
                (value)="streetInp"
                placeholder="ex. 420 Smoketown"
                required
            />
        </div>
        <div class="city">
            <label>City</label><br/>
            <input 
                (keyup)="handleChange($event, 'city')"
                (value)="cityInp"
                placeholder="ex. Los Angeles"
                required
            />
        </div>
        <div class="state">
            <label>State</label><br/>
            <input
                (keyup)="handleChange($event, 'state')"
                (value)="stateInp"
                placeholder="ex. CA" 
                required
            />
        </div>
        <div class="zip">
            <label>Zip Code</label><br/>
            <input 
                (keyup)="handleChange($event, 'zip')"
                (value)="zipInp"
                type="number"
                placeholder="ex. 90001"
                required
            />
        </div>
        <button type="submit" (click)="mapUpdate($event)">Enter</button>
    </form>
    <iframe 
        *ngIf="deliveryInp" 
        loading="lazy" 
        [src]="map_url"  
        allowfullscreen 
    >
    </iframe>
</div>
