.post-section { 
    justify-content: center;
    align-items: flex-start;
    padding: 10vh 0;
    min-height: 125vh;
    width: 100%;
    background: rgb(241, 241, 241);
}

.post-container { 
    position: relative;
    flex-direction: column;
    row-gap: 5vh;
    padding: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.post-label {
    margin-left: 5vw;
    align-self: flex-start;
    text-decoration: underline;
    font-size: clamp(2.5rem, 3.5vh, 3.5rem);
    font-weight: 700;
}

.post-links { 
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    width: 80%;
}

.post-option {
    position: relative;
    padding: 2.5vh 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 65vh;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: white;
    background-size: cover;
}

.post-option.one {
    background-image: url("https://images.pexels.com/photos/3184603/pexels-photo-3184603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}   
.post-option.two {
    background-image: url("https://images.pexels.com/photos/4497733/pexels-photo-4497733.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.post-option.three {
    background-image: url("https://images.pexels.com/photos/6888760/pexels-photo-6888760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.post-overlay {
    position: absolute;
    inset: 0 auto auto 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.post-option:hover .post-overlay { background: darkorange; }

.post-option > h1 { position: relative; z-index: 1; font-weight: bold; }
.post-option > span { position: relative; z-index: 1; padding: 0 2.5vw; font-weight: 700; }


@media (max-width: 50rem) {
    .post-container { width: 100%; }
    .post-links { grid-template-columns: 48% 48%; }
}

@media (max-width: 35rem) {
    .post-container { display: flex; flex-direction: column; row-gap: 2vh; border-radius: 0; }
    .post-links { grid-template-columns: 90%; }
}

