<div class="post-section flex">
    <div class="post-container flex">
        <h1 class="post-label">Let's get started</h1>
        <div class="post-links grid">
            <a [routerLink]="['/post_product/main/user_catalog']">
                <div class="post-option one active flex">
                    <div class="post-overlay"></div>
                    <h1>Build Your Catalog</h1>
                    <span>Explore new business opportunities. We offer support with our friendly partnership.</span>
                </div>
            </a>
            <a [routerLink]="['/post_product/main/product_submission']">
                <div class="post-option two flex">
                    <div class="post-overlay"></div>
                    <h1>Product Submission</h1>
                    <span>New products ready to hit the market. Make it happen with a quick form in one go.</span>
                </div>
            </a>
        </div>  
    </div>
</div>
