<div class="rating-card flex" *ngIf="!expand && itemID">
    <ngb-rating [max]="5" [(rate)]="rating" [readonly]="true" class="default"></ngb-rating>
    <div class="rating-value">({{rating.toFixed(1)}})</div>
</div>

<div class="rating-expand flex" *ngIf="expand && itemID"> 
    <ngb-rating [max]="5" [(rate)]="rating" [readonly]="true" class="large"></ngb-rating>  
    <div class="rating-value">({{rating.toFixed(1)}})</div>
</div>

<ngb-rating class="rating-review" [max]="5" *ngIf="reviewRating && !itemID" [(rate)]="reviewRating" [readonly]="true"></ngb-rating>




