ngb-rating { color: gold; margin: 0.75rem 0 auto auto; float: right; }

.rating-card { justify-content: flex-end; column-gap: 0.2vw; width: 100%; }
.rating-card > ngb-rating { font-size: clamp(1.5rem, 2vw, 2rem); }
.rating-card > div { color: gold; font-size: clamp(1rem, 1.25vw, 1.25rem); transform: translateY(18%); }

.rating-expand { font-family: 'Roboto', sans-serif; color: goldenrod; transform: translateY(-39%); }
.rating-expand > ngb-rating { font-size: clamp(1.5rem, 3vw, 3rem);  }
.rating-expand > div { margin-left: 0.5vw; font-size: clamp(1.25rem, 1.875vw, 1.875rem); transform: translateY(18%);  }

.rating-review { font-weight: normal; font-size: clamp(1.5rem, 2.25vw, 2.25rem);}

@media (max-width: 50rem) {
    ngb-rating, .rating-expand {margin: 0 0 auto auto; float: left; }
    .rating-card > div, .rating-expand > div { font-size: clamp(1rem, 1.5vw, 1.5rem); transform: translateY(0); }
}

@media (max-width: 25rem) {
    .rating-card > ngb-rating { font-size: clamp(1.25rem, 1.75vw, 1.75rem); }
    .rating-card > div { color: gold; font-size: clamp(0.875rem, 1.125vw, 1.125rem); }
}