.item-list {
    position: relative;
    grid-template-columns: 15% 20% 20% 20%;
    row-gap: 4rem;
    padding: 10vh 0;
    margin-bottom: 40vh;
    width: 100vw;
    background: rgb(235, 235, 235);
    border-radius: 0.125rem;
}

.list-title { 
    grid-column: 1 / 5; 
    font-size: clamp(1.25rem, 2vw, 2rem);
    font-family: 'Playfair Display', serif; 
    font-weight: 700; 
    height: fit-content;
    letter-spacing: 2px; 
}

.item-filter {
    grid-column: 1 / 2;
    grid-row: 2 / span 5;
    row-gap: 1.5vh;
    padding: 12% 0 15% 0;
    height: fit-content;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 1px 1px rgb(216, 216, 216);
    border-radius: 0.375rem;
}

input[type="checkbox"] { accent-color: brown; }
.container {
    margin-left: 17.5%;
    column-gap: 0.5rem; 
    font-weight: 600; 
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5px;
    color: gray;
}
.container.highlight { color: brown; }


.set-data { z-index: 2; }
.set-data:hover { color: red; }

.item {
    grid-template-columns: 50% 50%;
    row-gap: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0 0 0.125rem 0.125rem;
    animation: fadeIn 0.3s ease-in;
}

.item:hover { box-shadow: 0 0 5px 1px black; }

.item > img { grid-column: 1 / 3; width: 100%; height: 25vh;}

.item-label {  
    grid-column: 1 / 3;
    row-gap: clamp(0rem, 1vw, 1rem) !important;
    grid-template-columns: 40% 40%;
    font-size: clamp(0.9rem, 2.5vw, 1rem); 
    font-weight: 500; 
    height: 15vh;
    border-radius: 0 0 0.125rem 0.125rem;
}
.item-name { margin: auto 0; font-weight: bold; font-family: 'Playfair Display', serif; font-size: clamp(1.125rem, 2.5vw, 1.5rem); }
.item-price { color: green; font-weight: 500; }
.item-link { margin-left: auto; font-size: clamp(0.875rem, 1.25vw, 1rem); font-weight: normal; font-family: 'Playfair Display', serif; color: gray; }
.item-link:hover { text-decoration: underline; }

.item-input { grid-column: 1 / 3; width: 100%; border-top: 1px solid rgb(212, 212, 212); }

.add-button { 
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%; 
    background: rgb(29, 29, 29); 
    color: white; 
    border-radius: 0 0 0.125rem 0.125rem;
    box-shadow: 0 -1px 2px grey;
}
.add-button.remove { display: none; }

.quantity-input { position: relative; justify-content: space-between; width: 100%; }
.quantity-input > button > mat-icon { font-size: clamp(1.25rem, 2.5vw, 1.5rem); }
.quantity-input > span { font-weight: bold; }

.increment, .decrement {
    justify-content: center;
    width: 20%;
    background: red;
    border: 0;
    border-radius: 0.125rem;
}

.increment:hover, .decrement:hover { box-shadow: 0 0 3px; }

.submit-button {
    position: absolute;
    justify-content: space-between;
    transform: translateY(100%);
    width: 100%;
    animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown {
    0% {margin-top: 0; opacity: 0;}
    100%{margin-top: 3rem; opacity: 1;}
}

.submit-button > button {  
    margin: 0;
    height: 4vh;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-family: 'Playfair Display', serif;
    font-weight: 500; 
    border-radius: 3rem;
}

.submit-button > button:hover { box-shadow: 0 0 5px black; }

.confirm-btn { 
    justify-content: center !important; 
    column-gap: 0.25rem; 
    width: 65%; 
    color: white; 
    background: red; 
    border: 1px solid firebrick;
}
.cancel-btn { width: 30%; color: black; background: rgb(230, 230, 230); border: 1px solid rgb(206, 206, 206); }

.item-margin { margin-bottom: 5rem; }

::ng-deep app-rating { display: flex; align-items: center; margin-left: auto; }

.item-list-empty { 
    grid-column: 2 / 5; 
    margin: 15% 0 0 15%;
    font-size: clamp(1.5rem, 2vw, 3rem); 
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: brown;
}

.pagination { 
    padding: 17.5vh 0 5vh 0;
    grid-column: 1 / 5;
    column-gap: clamp(1rem, 2vw, 3rem);
    margin: 0 auto;
}

.pagination > button {
    padding: 1rem;
    font-size: clamp(0.875rem, 1.25vw, 2rem);
    color: white; 
    background: black;
    border-radius: 0.125rem;
}

.page-count { column-gap: clamp(0.125rem, 1vw, 0.75rem); }

.page { 
    padding: 0.75rem 1.25rem;
    font-size: clamp(1rem, 1.25vw, 2rem);
    font-weight: 500;
    transition: all 0.3s ease-in;
}

.page:hover { color: white; background: black; border-radius: 3rem; }

.page.clicked { color: white; background: black; border-radius: 3rem; } 

.add-msg.show {
    padding: 5vh 2.25vw;
    position: fixed;
    inset: 4% 3% auto auto;
    width: fit-content;
    background: white;
    box-shadow: 1px 0 3px;
    border-left: 5px solid brown;
    border-radius: 0.05rem;
    overflow: hidden;
    animation: fadeUpSlide 3s ease-in forwards;
}

.add-msg-text {
    margin-left: 10%;
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    font-family: 'Playfair Display', serif; 
    font-weight: 500;
    letter-spacing: 0.75px;
}

.add-msg-text > span { color: brown; font-weight: bold; }

@keyframes fadeUpSlide {
    0% { transform: translateY(50%); opacity: 1; }
    25% { transform: translateY(0); opacity: 1; }
    75% { opacity: 1; }
    99% { opacity: 0; width: fit-content; padding: 5vh 2.25vw; border-left: 5px solid brown; }
    100% { width: 0; padding: 0; border-left: 0; }
}

@media (max-width: 70rem) { .item-list { grid-template-columns: 33% 33%; row-gap: 2.5rem; } }

@media (max-width: 50rem) {
    .item-list { grid-template-columns: 22% 68%; row-gap: 2.5rem; }
    .list-title { grid-column: 1 / 3; margin: 0; font-weight: 500; }
    .item-filter { grid-row: 2 / span 15; border-radius: 0.25rem; }
    .container { margin-left: 0; font-weight: 500; }
    .item { row-gap: 0; }
    .item > img { grid-column: 1 / 2; height: 22vh; }
    .item-label { grid-column: 2 / 3; }
    .increment, .decrement { width: 12.5%; }
    .submit-button { transform: translateY(75%); }
    ::ng-deep app-rating { grid-column: 1 / 3; margin-left: 0; margin-right: auto; }
    .pagination { grid-column: 1 / 3; padding: 0; }
    .page { padding: 0.5rem 0.75rem; }
    .pagination > button { padding: 0.5rem; }
}
