.item-list {
    flex-direction: column;
    padding: 5vh 0;
    margin-bottom: 40vh;
    width: 100vw;
    background: rgb(235, 235, 235);
    border-radius: 0.125rem;
}

.list-title { 
    font-size: clamp(1.5rem, 3.5vw, 2.25rem);
    padding: 1.5rem 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500; 
    letter-spacing: 4px;
    text-indent: 3.5vw;
    height: fit-content;
    width: 95%;
    color: darkorange;
    background: rgb(247, 247, 247);
    box-shadow: 0 0 1px;
}
hr { margin: 0; }

.item-filter { margin:0 auto 3.75vh auto; min-height: 10vh; width: 95%; }

input[type="checkbox"] { accent-color: darkorange; }
.container {
    display: flex;
    justify-content: center;
    padding: 1.5vh 0;
    column-gap: 0.5rem; 
    font-weight: 600; 
    font-family: 'Bebas Neue', cursive;
    font-size:  clamp(0.75rem, 1vw, 1rem);
    letter-spacing: 2px;
    color: rgb(78, 78, 78);
    background: white;
    border: 1px solid rgb(197, 197, 197);
    border-width: 1px 1px 1px 0;
    transition: padding 0.1s ease-in;
}

.container:hover { padding: 2.5vh 0; border-left-width: 1px; }
.container.highlight { color: darkorange; border-left-width: 1px; }

.set-data { z-index: 2; }
.set-data:hover { color: green; }

.item-section { grid-template-columns: repeat(4, 24%); column-gap: 0.5rem; width: 85%; }

.item { flex-direction: column; margin-bottom: 1rem; width: 100%; animation: fadeIn 0.5s ease-in; }

.item-image { position: relative; width: 100%; height: 25vh; overflow: hidden; }
.image-overlay { 
    padding: 0 1vw;
    position: absolute; 
    inset: auto auto 0 0; 
    height: 0; 
    width: 100%;  
    background: linear-gradient(to top, rgb(0, 0, 0, 0.9) 10%, rgb(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.2));
    z-index: 1;  
    transition: all 0.5s ease-in;
}
.item-description { margin-top: auto; color: white; }

.item-image > img { width: 100%; height: 100%; object-fit: cover; transition: all 0.1s ease-in; }
.item:hover .item-image > img { scale: 1.025; }
.item:hover .item-image > .image-overlay { height: 100%; }
.image-overlay.active { height: 100%; }

.item-label {
    justify-content: center;  
    column-gap: 2vw;
    font-weight: 500; 
    min-height: 12vh;
    width: 100%;
    border-radius: 0 0 0.125rem 0.125rem;
}
.item-name { 
    margin: 0;
    font-weight: bold; 
    font-family: 'Playfair Display', serif; 
    font-size: clamp(1.125rem, 1.625vw, 1.625rem);
    cursor: pointer; 
}
.item:hover .item-name { text-decoration: underline; }

.item-price { color: green; font-size: clamp(1.125rem, 1.5vw, 1.5rem); font-family: 'Tiro Gurmukhi', serif; }

.item-input { grid-column: 1 / 3; width: 100%; border-top: 1px solid rgb(212, 212, 212); }

.add-button { 
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 100%;  
    color: rgb(29, 29, 29);
    border: 1px solid rgb(29, 29, 29); 
    border-radius: 0 0 0.125rem 0.125rem;
    transition: all 0.2s ease-in;
}
.add-button:hover { color: white; background: black; }
.add-button.remove { display: none; }

.quantity-input { position: relative; justify-content: space-between; width: 100%; }
.quantity-input > button > mat-icon { font-size: clamp(1.25rem, 2.5vw, 1.5rem); }
.quantity-input > span { font-weight: bold; }

.increment, .decrement { justify-content: center; width: 20%; background: darkorange; border: 0; border-radius: 0.125rem; box-shadow: 0 0 1px black; }

.submit-button {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown { 0% {bottom: -100%; opacity: 0;} 100% {bottom: -200%; opacity: 1;} }

.submit-button > button {  
    margin: 0;
    height: 4vh;
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-family: 'Playfair Display', serif;
    font-weight: 500; 
    border-radius: 3rem;
}

.confirm-btn { justify-content: center; column-gap: 0.25rem; width: 65%; color: darkgoldenrod; border: 1px solid goldenrod; }
.confirm-btn:hover { color: white; background: darkorange; box-shadow: 0 0 3px black; }

.cancel-btn { width: 30%; color: black; background: rgb(230, 230, 230); border: 1px solid rgb(206, 206, 206); }
.cancel-btn:hover { box-shadow: 0 0 3px; }

.item-margin { margin-bottom: 5rem; }

.item-list-empty { 
    grid-column: 2 / 5;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 3rem); 
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.add-msg.show {
    padding: 5vh 1vw;
    position: fixed;
    width: fit-content;
    inset: 4% 3% auto auto;
    background: orange;
    border-left: 5px solid darkorange;
    border-radius: 0.05rem;
    opacity: 0;
    animation: fadeUpSlide 3s ease-in;
    z-index: 1;
}

.add-msg-text {
    margin-left: 10%;
    font-size: clamp(0.875rem, 1.25vw, 1.25rem);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.add-msg-text > span { font-weight: bold; }

.item-list-empty, app-pagination { grid-column: 1 / 5; margin: 0 auto; }

@keyframes fadeUpSlide {
    0% { transform: translateY(60%); opacity: 1; }
    25% { transform: translateY(35%); opacity: 1; }
    75% { transform: translateY(35%); opacity: 1; }
    99% { transform: translateY(35%); opacity: 0; width: fit-content; padding: 5vh 1vw; border-left: 5px solid darkorange; }
    100% { width: 0; padding: 0; border-left: 0; }
}

@media (max-width: 75rem) {
    .item-section { grid-template-columns: repeat(3, 33%); }
    .item-list-empty, app-pagination { grid-column: 1 / 4; }
}

@media (max-width: 50rem) {
    .list-title { font-weight: 600; }
    .item-filter { display: grid; grid-template-columns: 33% 33% 33%; justify-content: center; }
    .container { display: block; border-width: 1px; }
    .container:hover { padding: 1.5vh 0; }
    .container > input { margin: auto 10%; }
    .item-section { grid-template-columns: repeat(2, 48%); }
    .item-list-empty ,app-pagination { grid-column: 1 / 3; }
    .item { row-gap: 0; }
    .item-image { height: 22vh; }
    .image-overlay { padding: 0 1vw 0 2vw; }
    .item-description { font-size: 0.8rem;  }
    .item-label { padding-bottom: 2vh; }
    .item-name { margin: 0; }
    .increment, .decrement { width: 12.5%; }
}

@media (max-width: 35rem) { .item-section { display: unset; } }

@media (max-width: 25rem) {
    .item-filter { grid-template-columns: 49% 49%; }
}


