.nav-bar {
    position: fixed;
    inset: 0 0 auto auto;
    justify-content: center;
    width: fit-content;
    background: white;
    border-radius: 0 0 0.125rem 0.125rem;
    z-index: 2;
}

.nav-bar > a {
    list-style: none;
    padding: 3vh 0;
    font-size: clamp(0.625rem, 2.5vw, 0.9rem);
    font-weight: 500;
    letter-spacing: 1px;
    width: 15vw;
    color: black;  
}

.nav-bar > a:hover { color: rgb(173, 173, 173); border-bottom: 0; }

.nav-bar > a > mat-icon { margin: 0 0.25rem 0 33%; }

.nav-bar > a.highlight { background: green; color: yellow; }
.fixed { position: fixed; }

.cart-num { margin-left: 0.25rem; }
.nav-bar { box-shadow: -1px 1px 1px; border-radius: 0 0 0 0.25rem; }

@media (max-width: 50rem) {
    .nav-bar > a { width: 25vw; margin: 0; padding: 0.5rem 0; }
    .nav-bar > a > mat-icon { margin: 0 0.25rem 0 22.5%; }
}

@media (max-width: 15rem) {
    .nav-bar > a { width: 22vw }
    .nav-bar > a > span { display: none; }
    .nav-bar > a > mat-icon { margin: 0 auto; }
}
