<div class="app-home">
    <h1>MAKE YOUR <span>GROCERY SHOPPING</span> A <span>CONVENIENCE</span></h1>
    <h2>SHOP ONLINE FOR A VARIETY OF FRESH GROCERIES</h2>
    <div class="contact flex">
        <div class="icon-wrapper flex">
            <mat-icon>email</mat-icon>
            <div class="email-content flex">qijieguan7@gmail.com</div>
        </div>
        <div class="icon-wrapper flex">
            <i class="pi pi-linkedin"></i>
            <div class="linked-in-content">
                <a href="https://www.linkedin.com/in/qi-jie-guan-002924201/" target="_blank">
                    https://www.linkedin.com/in/qi-jie-guan-002924201/
                </a>
            </div>
        </div>
    </div>
</div>
