.app-note {
    padding: 2rem;
    min-height: 35rem;
    width: 70vw;
    background: white;
    box-shadow: 2px 2px 5px;
    border-radius: 0.125rem;
}

.app-note > div { margin-bottom: 2.25rem; }

.app-note > div > h1 {
    margin-bottom: 1.75rem;
    font-weight: bold;
    width: fit-content;
    border-bottom: 2px solid black;
}

.app-note > div > li { font-size: clamp(1rem, 2.5vw, 1.5rem); }